@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Eczar&family=Gentium+Plus&family=Libre+Baskerville&family=Libre+Franklin&family=Playball&family=Poppins:wght@200;300;400;500;600;700&family=Proza+Libre&family=Rubik&family=Taviraj&family=Trirong&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .85rem;
    font-family: 'Poppins';
}

body{
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 30px 1fr; */
    width: 100vw;
    height: 100vh;
    /* overflow-y: scroll; */
}

/* Navbar */

@media screen and (min-width:700px) {
    nav{
        height: 30px ;
    }
    
    nav,
    .nav-srch,
    .nav-btns {
        display: flex;
        align-items: center;
        background: #DCE486;
    }

}

/* @media screen and (max-width:700px){
    nav ul li{
        border: .1rem solid;
    }
    nav a{
        display: block;
    }
} */
nav ul li:hover{
    background:rgb(255, 255, 255,.5);
    transition: all .7s ease;
    border-radius: 2rem;    
}

li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    justify-content: space-around;
}

.nav-btns img {
    width: 25px;
    height: 25px; 
    border-radius: 2.5rem;
}

.nav-btns .active svg{
    width: 25px;
    height: 25px;
}

.nav-btns li {
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

.nav-btns .nav-notfn{
    display: flex;
    justify-content: center;
    width: 9rem;
    /* background: #bbd20c; */
}

.nav-btns .nav-img{
    display: flex;
    justify-content: center;
    width: 7rem;
}

.nav-btns li img {
    margin-right: .5rem;
}

.nav-btns li a {
    display: flex;
    align-items: center;
}

.nav-btns li a span {
    margin-left: .5rem;
}

input::placeholder {
    font-size: 12px;
    color: #9088E4;
    padding-left: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
    /* color: #F2FFFD; */
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.dropdown-item{
    width: 100%;
}

.dropdown-item:hover{
    background: #A39CE7;
}

.dropdown:hover .dropdown-options {
    display: block;
}

/* Sidebar */

.sidebar .logo_details .logo_txt {
    font-size: 3rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.sidebar .logo_details .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.logo_details,
.nav-links{
    position: sticky;
}

.logo_txt {
    width: 200px;
    height: 60px;

    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    background: linear-gradient(180deg, #8C7AB4 0%, #A39CE7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar .logo_details img {
    width: 181px;
    height: 181px;
}

.sidebar .active {
    width: 60px;
}

.sidebar .nav-links {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.sidebar .nav-links li {
    width: 100%;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links .feather {
    color: #9088E4;
    min-width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.sidebar .nav-links .links_name {
    color: #9088E4;
    font-size: 20px;
    font-weight: 400;
}

.sidebar .nav-links li a.active {
    background: #DCE486;
}

.sidebar .nav-links li a:hover {
    background: rgb(220, 228, 134, .5);
}

/* Right Container */

.rgt-ctnr{
    display: grid;
    grid-template-rows: 30px 1fr;
    overflow: hidden;
    background:#F2FFFD ;
}

/* dashboard */

.dashboard{
    overflow-y: scroll;
}
